body {
    text-align: center;
    font-family: Arial;
}

.board {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(15, 40px);
    grid-template-rows: repeat(15, 40px);
    margin: auto;
}

.cell {
    border: 1px solid #ccc;
    position: relative;
}

.safe {
    background-color: lightgreen;
}

.token {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
}

.red { background: red; }
.blue { background: blue; }
.green { background: green; }
.yellow { background: gold; }